@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  <a href="#" class="navbar-text ml-auto">
                        00,0 руб <i class="fas fa-shopping-cart nav-color"></i> (0)
                    </a>
                    <div class="dropdown ml-4 nav-color">
                        <div class="dropdown-toggle" id="dropdownMenuButton"
                             data-toggle="dropdown" aria-haspopup="true"
                             aria-expanded="false">
                            <img src="/images/download.jfif" width="30"
                                 alt="User" class="rounded" />
                        </div>
                        <div class="dropdown-menu"
                             aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-item-text">
                                <img src="images/avatar.jpg" width="50"
                                     alt="User" class="rounded" />
                                user@mail.ru
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Мои товары</a>
                            <a class="dropdown-item" href="#">Log off</a>
                        </div>
                    </div>
}
